src/n8n-automation/Agrupar noticias.json
{
  "name": "Agrupar noticias",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        -240
      ],
      "id": "623f0b6b-b2ba-40ef-a1c1-382cbf2ae666",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "collection": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -880,
        -240
      ],
      "id": "7b774ba7-ebde-4e47-aa70-4b02b810b5e8",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "44uvjFS2nQmOBnWb",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "titles",
          "mode": "list",
          "cachedResultName": "titles"
        },
        "metadata_field": "title",
        "vectorIndexName": "titles",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        -240,
        -240
      ],
      "id": "5cbfe525-10f5-438a-b074-a0d54c06cfed",
      "name": "MongoDB Atlas Vector Store",
      "credentials": {
        "mongoDb": {
          "id": "44uvjFS2nQmOBnWb",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        -48
      ],
      "id": "1db16f6d-445c-4720-b033-f4926727dd7f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "g3anlsYQc3yYZ2yb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -48,
        -48
      ],
      "id": "ead5ebf8-b79d-42c4-b743-3ebe471adfa7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a3d6c51-7427-4508-b006-d753348823e5",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        -240
      ],
      "id": "b9e887ee-586f-4a71-a6af-623903dd6ab2",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        -240
      ],
      "id": "e7864706-0423-44dc-91c2-0a20fb004cc6",
      "name": "Wait",
      "webhookId": "483a6c49-df54-45ef-ade4-b47a28e1face"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cb84708-c6e4-4631-b600-74a4e5c52358",
              "name": "pageContent",
              "value": "={{ $json.pageContent }}",
              "type": "string"
            },
            {
              "id": "c55f3444-3379-4d64-9b4a-2544faedea0b",
              "name": "link",
              "value": "={{ $('Find documents').item.json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -240
      ],
      "id": "fab882e2-7eb0-492d-a05c-2be98a947355",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.title }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -464,
        -240
      ],
      "id": "b2a03e5d-0d7a-4b34-a312-a07947b3deff",
      "name": "Remove Duplicates"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Atlas Vector Store": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08cd119e-efd8-4383-909d-00a73c4293cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfaa74a960087ae3552b3afefc7f485f943206154cf5ae1a987fac010cf80f86"
  },
  "id": "3sJG5ZBVZkDHpHoI",
  "tags": []
}